
@{
    ViewBag.Title = "Index";
}
@model Board.Models.InfoBoardModel

<div class="jumbotron jumbotron-fluid">
    <div class="container mt-5">
        <h1 class="text-center">Administration</h1>
    </div>
</div>
    <div class="container">
        <div class="">
            <div class="card text-center p-0">
                <div class="card-header d-flex">
                    <div class="col-md-4"></div>
                    <h5 class="card-title col-md-4">Citat</h5>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#QuoteModal">
                            Rediger
                        </button>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex">
                            <div class="col-md-10">
                                <blockquote class="blockquote mb-0">
                                    <p>
                                        @Html.DisplayTextFor(model => model.WeeklyActivities.Quote.QuoteText)
                                    </p>
                                    <footer class="blockquote-footer">
                                        <cite title="Source Title">
                                            @Html.DisplayTextFor(model => model.WeeklyActivities.Quote.QuoteAuthor)
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--Ugens Citat Modal-->
                <div class="modal fade" id="QuoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Ugens Citat</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                @using (Html.BeginForm("EditQuote", "Administration", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <label for="quoteText" class="col-md-3 control-label">Citat</label>
                                    <div class="form-group col-md-9">
                                        @Html.TextBoxFor(model => model.WeeklyActivities.Quote.QuoteText, new { @class = "form-control" })
                                    </div>
                                    <label for="quoteAuthor" class="col-md-3 control-label">Forfatter</label>
                                    <div class="form-group col-md-9">
                                        @Html.TextBoxFor(model => model.WeeklyActivities.Quote.QuoteAuthor, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right">
                                            <button class="btn btn-info" type="submit">Gem</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuller</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center p-0">
                <div class="card-header d-flex">
                    <div class="col-md-4"></div>
                    <h5 class="card-title col-md-4">Morgensamling</h5>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#AssemblyModal">
                            Rediger
                        </button>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex">
                            <div class="col-md-4">
                                <img src="@Url.Content(Model.WeeklyActivities.Assembly.ImagePath)" alt="Billede" class="img-thumbnail" />
                            </div>
                            <div class="col-md-8 text-left p-2">
                                <h2 class="display-4 text-uppercase">Tema: @Html.DisplayTextFor(model => model.WeeklyActivities.Assembly.AssemblyTheme)</h2>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--Ugens Morgensamlinger Modal-->
                <div class="modal fade" id="AssemblyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Morgensamling</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                @using (Html.BeginForm("EditTheme", "Administration", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <label for="themeImage" class="col-md-3 control-label">Tema</label>
                                    <div class="form-group col-md-9">
                                        @Html.TextBoxFor(model => model.WeeklyActivities.Assembly.AssemblyTheme, new { @class = "form-control" })
                                    </div>
                                    <label for="quoteAuthor" class="col-md-3 control-label">Billede</label>
                                    <div class="form-group col-md-9">
                                        @Html.TextBoxFor(model => model.WeeklyActivities.Assembly.ImageFile, new { type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right">
                                            <button class="btn btn-info" type="submit">Gem</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuller</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Ugens Menu-->
            <div class="card text-center p-0">
                <div class="card-header d-flex">
                    <div class="col-md-4"></div>
                    <h5 class="card-title col-md-4">Menu</h5>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#MenuModal">
                            Rediger
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 p-0 d-flex justify-content-center">
                        <table class="table table-bordered m-2">
                            <tbody>
                                <tr>
                                    <th scope="row">Mandag</th>
                                    <td>@Html.DisplayTextFor(model => model.WeeklyMenu.Week[0].Name)</td>
                                    <td><a href="@Html.DisplayTextFor(model => model.WeeklyMenu.Week[0].RecipePath)">Link</a></td>
                                    <td><img src="@Url.Content(Model.WeeklyMenu.Week[0].ImagePath)" alt="Billede" class="img-thumbnail" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Tirsdag</th>
                                    <td>@Html.DisplayTextFor(model => model.WeeklyMenu.Week[1].Name)</td>
                                    <td><a href="@Html.DisplayTextFor(model => model.WeeklyMenu.Week[1].RecipePath)">Link</a></td>
                                    <td><img src="@Url.Content(Model.WeeklyMenu.Week[1].ImagePath)" alt="Billede" class="img-thumbnail" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Onsdag</th>
                                    <td>@Html.DisplayTextFor(model => model.WeeklyMenu.Week[2].Name)</td>
                                    <td><a href="@Html.DisplayTextFor(model => model.WeeklyMenu.Week[2].RecipePath)">Link</a></td>
                                    <td><img src="@Url.Content(Model.WeeklyMenu.Week[2].ImagePath)" alt="Billede" class="img-thumbnail" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Torsdag</th>
                                    <td>@Html.DisplayTextFor(model => model.WeeklyMenu.Week[3].Name)</td>
                                    <td><a href="@Html.DisplayTextFor(model => model.WeeklyMenu.Week[3].RecipePath)">Link</a></td>
                                    <td><img src="@Url.Content(Model.WeeklyMenu.Week[3].ImagePath)" alt="Billede" class="img-thumbnail" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Fredag</th>
                                    <td>@Html.DisplayTextFor(model => model.WeeklyMenu.Week[4].Name)</td>
                                    <td><a href="@Html.DisplayTextFor(model => model.WeeklyMenu.Week[4].RecipePath)">Link</a></td>
                                    <td><img src="@Url.Content(Model.WeeklyMenu.Week[4].ImagePath)" alt="Billede" class="img-thumbnail" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Ugens Menu Modal-->
                <div class="modal fade" id="MenuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Ugens Menu</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                @using (Html.BeginForm("EditMenu", "Administration", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <h5 class="text-center">Mandag</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Name" class="control-label">Navn</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[0].Name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="RecipePath" class="control-label">Opskrift</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[0].RecipePath, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="ImageFile" class="control-label">Billede</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[0].ImageFile, new { type = "file" })
                                        </div>
                                    </div>
                                    <hr class="col-md-12" />
                                    <h5 class="text-center">Tirsdag</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Name" class="control-label">Navn</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[1].Name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="RecipePath" class="control-label">Opskrift</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[1].RecipePath, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="ImageFile" class="control-label">Billede</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[1].ImageFile, new { type = "file" })
                                        </div>
                                    </div>
                                    <hr class="col-md-12" />
                                    <h5 class="text-center">Onsdag</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Name" class="control-label">Navn</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[2].Name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="RecipePath" class="control-label">Opskrift</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[2].RecipePath, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="ImageFile" class="control-label">Billede</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[2].ImageFile, new { type = "file" })
                                        </div>
                                    </div>
                                    <hr class="col-md-12" />
                                    <h5 class="text-center">Torsdag</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Name" class="control-label">Navn</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[3].Name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="RecipePath" class="control-label">Opskrift</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[3].RecipePath, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="ImageFile" class="control-label">Billede</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[3].ImageFile, new { type = "file" })
                                        </div>
                                    </div>
                                    <hr class="col-md-12" />
                                    <h5 class="text-center">Fredag</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Name" class="control-label">Navn</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[4].Name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="RecipePath" class="control-label">Opskrift</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[4].RecipePath, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="ImageFile" class="control-label">Billede</label>
                                            @Html.TextBoxFor(model => model.WeeklyMenu.Week[4].ImageFile, new { type = "file" })
                                        </div>
                                    </div>
                                    <hr class="col-md-12" />
                                    <div class="form-group">
                                        <div class="text-right">
                                            <button class="btn btn-info" type="submit">Gem</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuller</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>