<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @model Board.Models.InfoBoardModel
    @Styles.Render("~/Content/weather")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body class="@Html.DisplayTextFor(model => model.Event.MarginClass) p-0" onload="startTime(), resetAtMidnight()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0 d-flex flex-wrap fixed-top justify-content-center AspITGreenGradient">
                <div class="@Html.DisplayTextFor(model => model.Event.ImageClass) d-flex hidePicturesOn">
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---005.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---010.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---015.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---021.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---028.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---036.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---039.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---041.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---043.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---049.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---052.jpg" />
                    </div>
                    <div class="col-1 p-0">
                        <img class="img-fluid" src="~/Images/AspitImages/15309---058.jpg" />
                    </div>
                </div>
                <div class="col-12 navbar shadow navbar-default py-0">
                    <div class="navbar-left">
                        <a class="navbar-brand m-1" href="@Url.Action("Index", "Home")">
                            <img src="~/Images/aspit_aspin_logo_aspit.png" width="50" height="50" alt="">
                        </a>
                    </div>
                    <h4 id="clock" class="navbar-text navbar-right text-light mb-0 text-center"></h4>
                    <div class="navbar-right">
                        <a class="navbar-brand m-1" href="@Url.Action("Index", "Home")">
                            <img src="~/Images/aspit_aspin_logo_aspin.png" width="50" height="50" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content container-fluid p-0">
        <div class="row">
        </div>
        @RenderBody()
    </div>

    <hr />
    <div class="@Html.DisplayTextFor(model => model.Event.DisplayInfoBox)">
        <div class="lead text-center bg-secondary text-light border-top border-bottom border-secondary w-100 p-3 p-5 mt-4 d-flex justify-content-center">
            <div class="@Html.DisplayTextFor(mode => mode.Event.DisplayInfoClass) col-lg-3">
                <h5>Særlig information</h5>
                <p class="m-0">@Html.DisplayTextFor(model => model.Event.EventText)</p>
            </div>
            <div id="countdownContainer" class="col-lg-3">
                <h5>Countdown</h5>
                <div class="d-flex justify-content-center">
                    <p class="col-6 bg-light rounded py-2">
                        <span class="text-danger font-weight-bold w-100" id="vacationCountdown"></span>
                    </p>
                </div>
                <p>Ferie d. <span id="vacationDate">@Html.DisplayTextFor(model => model.Event.VacationDate)</span></p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @RenderSection("scripts", required: false)
</body>
</html>
